.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.modalButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px; 
    font-size: 14px; 
    cursor: pointer;
    margin: 10px 0; 
    width: 15%;
}

.modalButton:hover {
    background-color: #0056b3;
}