.cardContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    width: 40%;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
}

.cardContent {
    font-size: 16px;
}

.cardButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.border-div {
    border: 1px solid #888;


}
.modalContent {
    background-color: #fefefe;
    margin: 25px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.modal-title {
    color: blue;
    text-align: center;
}

.modal-content div {
    font-weight: bold;
}
.modalButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}